{% extends 'dacapo/configs/base_form.html' %}
{% from "dacapo/configs/macros/config_choice.html" import render_config_choice %}

{% block header %}
<h1>{% block title %}Create New Datasplit{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="new-configurable-form"
    onsubmit="return submit_form('{{ url_for('dacapo.new_datasplit') }}', '{{ url_for('dacapo.create_new_run') }}')">
    {{ render_config_choice(fields, id_prefix, all_names) }}
    <input id="go_button" type="submit" value="Save" enabled>
</form>
{% endblock %}