{% extends 'dacapo/configs/base_form.html' %}
{% from "dacapo/configs/macros/config_choice.html" import render_config_choice %}

{% block header %}
<h1>{% block title %}Create New Datasplit{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="{{ id_prefix }}"
    onsubmit="return submit_form('{{ url_for('dacapo.new_datasplit') }}', '{{ url_for('dacapo.create_new_run') }}', '{{ id_prefix }}')">
    {{ render_config_choice(fields, id_prefix, all_names) }}
    <input id="go_button" type="submit" value="Save" enabled>
    <input type="button" value="Copy" enabled
        onclick="copy_form('{{ url_for('dacapo.new_datasplit') }}', '{{ id_prefix }}')">
    <input type="button" value="Visualize" enabled
        onclick="visualize_form('{{ url_for('dacapo.visualize_datasplit') }}', '{{ id_prefix }}')">
</form>
{% endblock %}