{% macro render_form_from_choice(config_name_to_fields_dict, id_prefix, value, all_names, render_form_from_choice_count)
%}
<select name='{{ id_prefix }}.__type__' onchange="show_corresponding_fields(this, '{{ id_prefix }}')">
        <option value="" selected disabled hidden>Choose here</option>
        {% for config_name,config_fields in config_name_to_fields_dict.items() %}
        <option id='{{ config_name }}'>{{ config_name[0:-6] }}</option>
        {% endfor %}
    </select>
    <br><br>

    {% if render_form_from_choice_count!=0 %} <blockquote> {% endif %}
    {% for config_name,config_fields in config_name_to_fields_dict.items() %}
        {{ render_form(config_name, config_fields, id_prefix, value, all_names, render_form_from_choice_count) }}
    {% endfor %}
    {% if render_form_from_choice_count!=0 %} </blockquote> {% endif %}

    <script>
    function call_visible_children_onchange(elem){
        var children = elem.children;
        for(var i=0; i<children.length;i++){
            if(children[i].hasChildNodes()){
                grandchildren = children[i].children;
                for(var j=0; j<grandchildren.length; j++){
                    if ( $(grandchildren[j]).is("select") ){
                        grandchildren[j].onchange();
                    }
                    else{
                        call_visible_children_onchange(grandchildren[j]);
                    }
                }
            }
        }
    }

    function show_corresponding_fields(elem, id_prefix) {
        var config_name = $(elem).children(":selected").attr("id");
        var divs = document.querySelectorAll('div[class$="_configurable_field"]');
        var arr=[]
       for(var i=0; i<divs.length; ++i){
            var s = divs[i].style;
            if(divs[i].id.includes(id_prefix)){
                if (divs[i].className === config_name+"_configurable_field"){
                    s.display = 'block';
                    arr.push(divs[i]);
                }
                else {
                    s.display = 'none';
                }
            }
        };
        for(var i=0; i<arr.length; i++){
           call_visible_children_onchange(arr[i]);
        }
    }
</script>

{% endmacro %}

{% macro render_form(config_name, fields, id_prefix, value, all_names, render_form_from_choice_count) %}
<style>
    div[class$='_configurable_field'] {
        display: none;  
    }
    
    div[id$='invalid_name_notification'] {
        display: none;
        color: red;
    }

</style>

{% for field, field_data in fields.items() %}

<div {% if config_name %} class="{{config_name}}_configurable_field" {% else %} class="configurable_field" {% endif %}
    id="{{id_prefix}}">
    <label onclick="toggle_visible('{{ id_prefix }}_{{ field }}_input')">
        {{ field }} {% if field_data.get("optional") %} (Optional) {% endif %}:
    </label>
    <span class="configurable_helptext">{{ field_data.get('help_text') }}</span>
    <div id="{{ id_prefix }}_{{ field }}_input">
        {{ render_field(config_name, field, field_data, id_prefix + "." + field, value, all_names,
        render_form_from_choice_count) }}
    </div>
    <br>
</div>

{% endfor %}

{% endmacro %}


{% macro render_field(config_name, field, field_data, id_prefix, value, all_names, render_form_from_choice_count) %}

{% if field_data.type == "int" %}

<input name="{{id_prefix}}" type="number" {% if field_data.default is not none %} value="{{ field_data.default }}" {%
    endif %}>

{% elif field_data.type == "str" and field == "name" %}

<input id="user_defined_name" name="{{config_name}}_{{id_prefix}}" type="text" {% if field_data.default is not none %}
    value="{{ field_data.default }}" {% endif %} onkeyup="check_name(this,'{{all_names}}')">
<div id="{{config_name}}_{{id_prefix}}_invalid_name_notification">Name Already In Use!</div>

{% elif field_data.type == "str" %}

<input name="{{id_prefix}}" type="text" {% if field_data.default is not none %} value="{{ field_data.default }}" {%
    endif %}>

{% elif field_data.type == "float" %}

<input name="{{id_prefix}}" type="text" {% if field_data.default is not none %} value="{{ field_data.default }}" {%
    endif %}>

{% elif field_data.type == "path" %}

<input name="{{id_prefix}}" type="text" {% if field_data.default is not none %} value="{{ field_data.default }}" {%
    endif %}>

{% elif field_data.type == "coordinate" %}

<div id="{{ id_prefix }}_elements">

</div>
<button type="button" onclick="add_one('{{ id_prefix }}', '{{ field_data.element }}')">Add
    one</button>
<button type="button" onclick="remove_one('{{ id_prefix }}', '{{ field_data.element }}')">Remove
    one</button>

{% elif field_data.type == "choice" %}

<select name='{{ id_prefix }}.__type__' id="{{ field }}" onchange="fetch_configurable(this, '{{ id_prefix }}')">
    <option value="" selected disabled hidden>Choose here</option>
    {% for choice in field_data.choices %}
    <option value="{{ choice }}">{{ choice }}</option>
    {% endfor %}
</select>

{% elif field_data.type == "enum" %}

<select name="{{id_prefix}}.value" id="{{ field }}">
    <option value="" selected disabled hidden>Choose here</option>
    {% for choice in field_data.choices %}
    <option value="{{ choice }}">{{ choice }}</option>
    {% endfor %}
</select>

{% elif field_data.type == "list" %}

<div id="{{ id_prefix }}_elements">
</div>
<button type="button" onclick="add_one('{{ id_prefix }}', '{{ field_data.element }}')">Add
    one</button>
<button type="button" onclick="remove_one('{{ id_prefix }}', '{{ field_data.element }}')">Remove
    one</button>

{% elif field_data.type == "dict" %}

<div id="{{ id_prefix }}_elements">

</div>
<button type="button" onclick="dict_add_one('{{ id_prefix }}', '{{ field_data.key }}', '{{ field_data.value }}')">Add
    one</button>
<button type="button"
    onclick="dict_remove_one('{{ id_prefix }}', '{{ field_data.key }}', '{{ field_data.value }}')">Remove
    one</button>

{% elif field_data.type == "tuple" %}

{% for arg in field_data.args %}
{{ render_field("", "", arg, id_prefix + '[' + (loop.index-1)|string + ']', "","",render_form_from_choice_count) }}
{% endfor %}

{% elif field_data.type == "configurable" %}

<div>
    {{ render_form(field_data.fields, id_prefix, value, render_form_from_choice_count) }}
</div>

{% elif field_data.type == "bool" %}
<div>
    <input name="{{id_prefix}}" type="checkbox" {% if field_data.default %} checked {% endif %}>
    <span></span>
</div>
{% elif field_data.type == "render_from_choice"%}

{% set render_form_from_choice_count=render_form_from_choice_count+1 %}
{% set id_prefix = config_name+"_"+id_prefix + "_subid_" + render_form_from_choice_count|string %}
{{ render_form_from_choice(field_data.config_name_to_fields_dict, id_prefix, value, [],
render_form_from_choice_count) }}
{% endif %}
{% endmacro %}
