{% extends 'dacapo/forms/base_form.html' %}

{% macro render_form_from_existing(fields, task_to_copy, id_prefix) %}

{% for field, field_data in fields.items() %}

<div class="configurable_field">
    <label onclick="toggle_visible('{{ id_prefix }}_{{ field }}_input')">
        {{ field }} {% if field_data.get("optional") %} (Optional) {% endif %}:
    </label>
    <span class="configurable_helptext">{{ field_data.get('help_text') }}</span>
    <div id="{{ id_prefix }}_{{ field }}_input">
        {{ render_field_from_existing(field, field_data, task_to_copy[field], id_prefix + "." + field) }}
    </div>
</div>

{% endfor %}

{% endmacro %}

{{ super() }}

{% macro render_field_from_existing(field, field_data, field_values_to_copy, id_prefix) %}

{% if field_data.type == "int" %}

<input name="{{id_prefix}}" type="number" {% if field_values_to_copy is not none %} value="{{ field_values_to_copy }}" {%
    endif %}>

{% elif field_data.type == "str" %}

<input name="{{id_prefix}}" type="text" {% if field_values_to_copy is not none %} value="{{ field_values_to_copy }}" {%
    endif %}>

{% elif field_data.type == "float" %}

<input name="{{id_prefix}}" type="text" {% if field_values_to_copy is not none %} value="{{ field_values_to_copy }}" {%
    endif %}>

{% elif field_data.type == "path" %}

<input name="{{id_prefix}}" type="text" {% if field_values_to_copy is not none %} value="{{ field_values_to_copy }}" {%
    endif %}>

{% elif field_data.type == "coordinate" %}

<div id="{{ id_prefix }}_elements">

</div>
<button type="button" onclick="add_one('{{ id_prefix }}', '{{ field_data.element }}')">Add
    one</button>
<button type="button" onclick="remove_one('{{ id_prefix }}', '{{ field_data.element }}')">Remove
    one</button>

{% elif field_data.type == "choice" %}
<select name='{{ id_prefix }}.__type__' id="{{ field }}" onchange="fetch_configurable(this, '{{ id_prefix }}')">
    <option value="" selected disabled hidden>Choose here</option>
    {% for choice in field_data.choices %}
    <option value="{{ choice }}">{{ choice }}</option>
    {% endfor %}
</select>

{% elif field_data.type == "enum" %}

<select name="{{id_prefix}}.value" id="{{ field }}">
    <option value="" selected disabled hidden>Choose here</option>
    {% for choice in field_data.choices %}
    <option value="{{ choice }}">{{ choice }}</option>
    {% endfor %}
</select>

{% elif field_data.type == "list" %}

<div id="{{ id_prefix }}_elements">

</div>
{% if field_values_to_copy is not none %}
    {% for field_value_to_copy in field_values_to_copy %}
    {% endfor %}
{% endif %}

<button type="button" onclick="add_one('{{ id_prefix }}', '{{ field_data.element }}')">Add
    one</button>
<button type="button" onclick="remove_one('{{ id_prefix }}', '{{ field_data.element }}')">Remove
    one</button>

{% elif field_data.type == "dict" %}

<div id="{{ id_prefix }}_elements">

</div>
<button type="button" onclick="dict_add_one('{{ id_prefix }}', '{{ field_data.key }}', '{{ field_data.value }}')">Add
    one</button>
<button type="button"
    onclick="dict_remove_one('{{ id_prefix }}', '{{ field_data.key }}', '{{ field_data.value }}')">Remove
    one</button>

{% elif field_data.type == "tuple" %}

{% for arg in field_data.args %}
{{ render_field("", arg, id_prefix + '[' + (loop.index-1)|string + ']') }}
{% endfor %}

{% elif field_data.type == "configurable" %}

<div>
    {{ render_form(field_data.fields, id_prefix) }}
</div>

{% elif field_data.type == "bool" %}
<div class="checkbox">
    <input name="{{id_prefix}}" type="checkbox" {% if field_data.default %} checked {% endif %}>
    <span></span>
</div>
{% endif %}
<script>
   // document.addEventListener("DOMContentLoaded", function(event) {
    //document.onload = function(){
    //document.onload= function() {
     
    //add_one('task.predictors', 'typing.Union[dacapo.tasks.predictors.affinities.Affinities, dacapo.tasks.predictors.one_hot_labels.OneHotLabels, dacapo.tasks.predictors.lsd.LSD]');
    //if dropdown, then activate selection...and then repeat for all subdivisions
        id = 'task.predictors';
        element = 'typing.Union[dacapo.tasks.predictors.affinities.Affinities, dacapo.tasks.predictors.one_hot_labels.OneHotLabels, dacapo.tasks.predictors.lsd.LSD]';
    let list_div = document.getElementById(id + "_elements");
        let num_elements = list_div.childElementCount;
        let new_element = document.createElement("div");
        let new_id = id + "[" + num_elements + "]";
        new_element.setAttribute("id", new_id);
        new_element.setAttribute("class", "list_element");
        fetch("{{ url_for('dacapo.configurable') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accepts": "application/json" }, body: JSON.stringify({ "name": element, "id_prefix": new_id, "value": "" }) }).then(response => response.json()).then(data => {
            let html = data["html"];
            new_element.innerHTML = html;
            list_div.appendChild(new_element);

        });
        console.log(num_elements)

    console.log("finished")
  //  });
     </script>
{% endmacro %}




