{% extends 'base.html' %}

{% block content %}
<div class="checklists" id="common-checklists">
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Tasks</h3>
            {% block task_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for task in tasks %}
            <input type="checkbox" id="{{task.0}}" /><span title="{{task.0}}" onclick="copyJsonData(this.title)">
                <a href="{{task.1}}">{{task.0}}</a>
            </span><br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Datasplits</h3>
            {% block datasplit_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for datasplit in datasplits %}
            <input type="checkbox" id="{{datasplit.0}}" /><span title="{{datasplit.0}}" onclick="copyJsonData(this.title)">
                <a href="{{datasplit.1}}">{{datasplit.0}}</a>
            </span><br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Architectures</h3>
            {% block architecture_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for architecture in architectures %}
            <input type="checkbox" id="{{architecture.0}}" /><span title="{{architecture.0}}" onclick="copyJsonData(this.title)">
                <a href="{{architecture.1}}">{{architecture.0}}</a>
            </span><br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Trainers</h3>
            {% block trainer_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for trainer in trainers %}
            <input type="checkbox" id="{{trainer.0}}" /><span title="{{trainer.0}}" onclick="copyJsonData(this.title)">
                <a href="{{trainer.1}}">{{trainer.0}}</a>
            </span><br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Users</h3>
            {% block user_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for user in users %}
            <input type="checkbox" id="{{user}}" />{{user}}<br />
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}