{% extends 'base.html' %}

{% block content %}
<div class="checklists" id="common-checklists">
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Tasks</h3>
            {% block task_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for task in tasks %}
            <input type="checkbox" id="{{task[0]}}" /><span title="{{task[2]}}" onclick="copyJsonData(this.title)"> {{task[1]}} </span><br />
            <br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Datasets</h3>
            {% block dataset_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for dataset in datasets %}
            <input type="checkbox" id="{{dataset[0]}}" /><span title="{{dataset[2]}}" onclick="copyJsonData(this.title)"> {{dataset[1]}} </span><br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Models</h3>
            {% block model_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for model in models %}
            <input type="checkbox" id="{{model[0]}}" /><span title="{{model[2]}}" onclick="copyJsonData(this.title)"> {{model[1]}} </span><br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Optimizers</h3>
            {% block optimizer_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for optimizer in optimizers %}
            <input type="checkbox" id="{{optimizer[0]}}" /><span title="{{optimizer[2]}}" onclick="copyJsonData(this.title)"> {{optimizer[1]}} </span><br />
            {% endfor %}
        </div>

    </div>
    <div class="checklist">
        <div class="checklist_header">
            <h3 class="checklist_name">Users</h3>
            {% block user_checklist %}
            {% endblock %}
        </div>
        <div class="scroll_checklist">
            {% for user in users %}
            <input type="checkbox" id="{{user}}" />{{user}}<br />
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}