{% extends 'dacapo/common.html' %}

{% block header %}
<h1>{% block title %}New Run{% endblock %}</h1>
{% endblock %}

{% block task_checklist %}
<form action="{{ url_for('dacapo.new_task') }}" class="plus-one">
    <button type="submit"><i class="fa fa-plus"></i></button>
</form>
{% endblock %}
{% block datasplit_checklist %}
<form action="{{ url_for('dacapo.new_datasplit') }}" class="plus-one">
    <button type="submit"><i class="fa fa-plus"></i></button>
</form>
{% endblock %}
{% block architecture_checklist %}
<form action="{{ url_for('dacapo.new_architecture') }}" class="plus-one">
    <button type="submit"><i class="fa fa-plus"></i></button>
</form>
{% endblock %}
{% block trainer_checklist %}
<form action="{{ url_for('dacapo.new_trainer') }}" class="plus-one">
    <button type="submit"><i class="fa fa-plus"></i></button>
</form>
{% endblock %}

{% block content %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <button id="delete-many">Delete</button>
</div>
{% endblock %}

{% block extra_content %}
{{ super() }}
<section class="content">
    <table id="new-runs-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>Task</th>
                <th>Datasplit</th>
                <th>Architecture</th>
                <th>Trainer</th>
            </tr>
        </thead>
        <tbody>
            {% for run in runs %}
            <tr>
                <td></td>
                <td>{{run.task_config_name}}</td>
                <td>{{run.datasplit_config_name}}</td>
                <td>{{run.architecture_config_name}}</td>
                <td>{{run.trainer_config_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="content">
    <form id="run-form">
        <table>
            <tr>
                <th><label>Repetitions:</label></th>
                <th><input name="repetitions" type="number" value="3"></th>
            </tr>
            <tr>
                <th><label>Iterations:</label></th>
                <th><input name="num_iterations" type="number" value="100000"></th>
            </tr>
            <tr>
                <th><label>Validation Interval:</label></th>
                <th><input name="validation_interval" type="number" value="2000"></th>
            </tr>
            <tr>
                <th><label>Charge Group:</label></th>
                <th><input name="chargegroup" type="text" value={{chargegroup}}></th>
            </tr>
            <tr>
                <th><label>Compute Queue:</label></th>
                <th><input name="compute_queue" type="text" value={{compute_queue}}></th>
            </tr>
            <!---
            <tr>
                <th><label>Snapshot Interval:</label></th>
                <th><input name="snapshot_interval" type="number" value="500"></th>
            </tr>
            <tr>
                <th><label>Best Validation:</label></th>
                <th><input name="keep_best_validation" type="text" value="max:balanced_accuracy"></th>
            </tr>
            <tr>
                <th><label>Num Workers:</label></th>
                <th><input name="num_workers" type="number" value=1></th>
            </tr>
            <tr>
                <th><label>Bsub flags:</label></th>
                <th><input name="bsub_flags" type="text" value=""></th>
            </tr>
            -->
        </table>
        <input type="submit" id="submit-run">
    </form>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='table.js') }}"></script>
<script>
    let checklists = document.getElementById("common-checklists").querySelectorAll(".checklist");
    let table = $("#new-runs-table").DataTable({
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });

    //to prevent selection even if checkbox isn't there
    table.on('select', function (e, dt, type, indexes) {
        if (type === 'row') {
            var rows = table.rows(indexes).nodes().to$();
            $.each(rows, function () {
                if ($(this).hasClass('existing_job')) table.row($(this)).deselect();
            })
        }
    });

    let ids = { "tasks": new Set(), "datasplits": new Set(), "architectures": new Set(), "trainers": new Set(), "users": new Set() };
    let elements = Array.from(checklists).reduce(function (o, x) {
        x.querySelectorAll("input").forEach(element => {
            o[element.id] = element
        })
        return o;
    }, {});
    console.log(elements);
    checklists.forEach(checklist => {
        let checklist_name = checklist.children[0].children[0].textContent.toLowerCase();
        checklist.querySelectorAll("input").forEach(element => {
            element.addEventListener('change', function () {
                table.clear();
                console.log(ids[checklist_name]);
                if (this.checked) {
                    ids[checklist_name].add(element.id)
                } else {
                    ids[checklist_name].delete(element.id)
                }
                console.log(ids[checklist_name])
                let array_data = Object.keys(ids).reduce(function (o, x) { o[x] = Array.from(ids[x]); return o; }, {});
                fetch("{{ url_for('dacapo.create_new_run') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accept": "application/json" }, body: JSON.stringify(array_data) }).then(response => response.json()).then(ids => {
                    let rows = [];
                    ids.forEach((run) => {
                        rows.push(["", run.task_config_name, run.datasplit_config_name, run.architecture_config_name, run.trainer_config_name]);
                    })
                    table.rows.add(rows).draw();
                });
            });
        })
    });
    let delete_button = document.getElementById("delete-many");
    delete_button.addEventListener('click', function () {
        console.log("clicked");
        let array_data = Object.keys(ids).reduce(function (o, x) { o[x] = Array.from(ids[x]); return o; }, {});
        console.log(array_data);
        fetch("{{ url_for('dacapo.delete_configs') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accept": "application/json" }, body: JSON.stringify(array_data) }).then(response => response.json()).then(data => {
            data.forEach((config) => {
                console.log("deleted ", config["config_type"], config["name"], elements[config["name"]]);
                let elem = elements[config["name"]];
                ids[config["config_type"]].delete(config["name"]);
                // remove break
                elem.parentNode.removeChild(elem.nextSibling.nextSibling);
                // remove span
                elem.parentNode.removeChild(elem.nextSibling);
                // remove checkbox
                elem.parentNode.removeChild(elem);
            })
        });
    })

    function getSelected() {
        var rows = Array.from(table.rows({ selected: true }).data());
        let row_data = [];
        rows.forEach((row) => {
            row_data.push({
                "task_config_name": row[1], "datasplit_config_name": row[2], "architecture_config_name": row[3], "trainer_config_name": row[4]
            });
        });
        return row_data
    }

    let run_form = document.getElementById("run-form");
    run_form.addEventListener("submit", function (e) {
        e.preventDefault();
        let rows = getSelected();
        let form_data = new FormData(run_form);
        let post_object = Object.fromEntries(form_data);
        post_object["runs"] = rows;
        let post_data = JSON.stringify(post_object);
        fetch("{{ url_for('dacapo.start_runs') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accept": "application/json" }, body: post_data }).then(response => response.json()).then(data => {
            /* console.log(data)
            if (data.success) {
                console.log("submitted");
                for (const [key, value] of Object.entries(data.links)) {
                    console.log(`${key}: ${value}`);
                    window.open(value, "_blank")
                }
            }
            else {
                console.log("failed to submit")
            }*/
        });
    })

</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
        var username = '{{ username }}';

        socket.on('message', function (data) {
            data = JSON.parse(data);
            if (data.username == username) {
            document.getElementById("run-form").insertAdjacentHTML("beforeend", `<div class="alert ${data.type}">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>${data.type}!</strong>
            ${data.message}
            </div >`)
        }
    })

</script>
{% endblock %}