{% extends 'dacapo/common.html' %}

{% block header %}
<h1>{% block title %}Monitor Runs{% endblock %}</h1>
{% endblock %}

{% block extra_content %}
{{ super() }}
<section class="content">
    <table id="new-runs-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>Task</th>
                <th>Data</th>
                <th>Architecture</th>
                <th>Trainer</th>
            </tr>
        </thead>
        <tbody>
            {% for run in runs %}
            <tr>
                <td></td>
                <td>{{run.task_config_name}}</td>
                <td>{{run.dataset_config_name}}</td>
                <td>{{run.architecture_config_name}}</td>
                <td>{{run.trainer_config_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='table.js') }}"></script>
<script>
    // var xhr = new XMLHttpRequest();
    // xhr.open("POST", "{{ url_for('dacapo.get_runs') }}", false);
    // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    // xhr.send("test="+encodeURIComponent("yoyoyo"));   
    // console.log(xhr.status)
    // xhr.onload = console.log("loaded")
    let checklists = document.getElementById("common-checklists").querySelectorAll(".checklist");
                    let table = $("#new-runs-table").DataTable({
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });

    //to prevent selection even if checkbox isn't there
    table.on('select', function (e, dt, type, indexes) {
        if (type === 'row') {
            var rows = table.rows(indexes).nodes().to$();
            $.each(rows, function () {
                if ($(this).hasClass('existing_job')) table.row($(this)).deselect();
            })
        }
    });

    let ids = { "tasks": new Set(), "datasets": new Set(), "architectures": new Set(), "trainers": new Set(), "users": new Set() };
    console.log(checklists);
    checklists.forEach(checklist => {
        let checklist_name = checklist.childNodes[1].textContent.toLowerCase().replace(/\s+/g, '');
        console.log(checklist_name);
        table.clear();
        checklist.querySelectorAll("input").forEach(element => {
            element.addEventListener('change', function () {
                table.clear();
                console.log(element);
                if (this.checked) {
                    ids[checklist_name].add(element.id)
                } else {
                    ids[checklist_name].delete(element.id)
                }
                //console.log(checklist_name);
                //console.log(ids[checklist_name]);

                let array_data = Object.keys(ids).reduce(function (o, x) { o[x] = Array.from(ids[x]); return o; }, {});
                fetch("{{ url_for('dacapo.get_runs') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accept": "application/json" }, body: JSON.stringify(array_data) }).then(response => response.json()).then(ids => {
                    let rows = [];
                    ids.forEach((run) => {
                        rows.push(["", run.task_config_name, run.dataset_config_name, run.architecture_config_name, run.trainer_config_name]);
                    })
                    table.rows.add(rows).draw();
            });

        })
    });
});
</script>
{% endblock %}