{% extends 'dacapo/common.html' %}

{% block header %}
<h1>{% block title %}Monitor Runs{% endblock %}</h1>
{% endblock %}

{% block extra_content %}
{{ super() }}
<section class="content">
    <table id="runs-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Run Settings</th>
                <th>Repetition</th>
                <th>Trained Iterations</th>
                <th>Started</th>
                <th>Task</th>
                <th>Task ID</th>
                <th>Data</th>
                <th>Data ID</th>
                <th>Architecture</th>
                <th>Architecture ID</th>
                <th>Trainer</th>
                <th>Trainer ID</th>
            </tr>
        </thead>
        <tbody>
            {% for run in runs %}
            <tr>
                <td></td>
                <td>{{run.name}}</td>
                <td>{{run}}</td>
                <td>{{run.repetition}}</td>
                <td>{{run.trained_iterations}}</td>
                <td>{{run.started}}</td>
                <td>{{run.task}}</td>
                <td>{{run.task_id}}</td>
                <td>{{run.data}}</td>
                <td>{{run.data_id}}</td>
                <td>{{run.architecture}}</td>
                <td>{{run.architecture_id}}</td>
                <td>{{run.trainer}}</td>
                <td>{{run.trainer_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='table.js') }}"></script>
<script>
    // var xhr = new XMLHttpRequest();
    // xhr.open("POST", "{{ url_for('dacapo.get_runs') }}", false);
    // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    // xhr.send("test="+encodeURIComponent("yoyoyo"));   
    // console.log(xhr.status)
    // xhr.onload = console.log("loaded")
    let checklists = document.getElementById("common-checklists").querySelectorAll(".checklist");
    let table = $("#runs-table").DataTable({
        "createdRow": function (row, data, dataIndex) {
            $.each($('td', row), function (colIndex) {
                if(colIndex!=0){
                    $(this).attr('title', data[2]);
                    $(this).attr("onclick","copyJsonData(this.title)")
                }
            });
        },
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }, {
            "targets": [2],
            "visible": false
        },{
            "targets": [7],
            "visible": false
        }, {
            "targets": [9],
            "visible": false
        }, {
            "targets": [11],
            "visible": false
        }, {
            "targets": [13],
            "visible": false
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });
    let ids = { "tasks": new Set(), "datasets": new Set(), "architectures": new Set(), "trainers": new Set(), "users": new Set() };
    console.log(checklists);
    checklists.forEach(checklist => {
        let checklist_name = checklist.childNodes[1].textContent.toLowerCase().replace(/\s+/g, '');
        console.log(checklist_name);
        table.clear();
        checklist.querySelectorAll("input").forEach(element => {
            element.addEventListener('change', function () {
                console.log(element);
                if (this.checked) {
                    ids[checklist_name].add(element.id)
                } else {
                    ids[checklist_name].delete(element.id)
                }
                //console.log(checklist_name);
                //console.log(ids[checklist_name]);

                let array_data = Object.keys(ids).reduce(function (o, x) { o[x] = Array.from(ids[x]); return o; }, {});
                fetch("{{ url_for('dacapo.get_runs') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accept": "application/json" }, body: JSON.stringify(array_data) }).then(response => response.json()).then(ids => {
                    let rows = [];
                    ids.forEach((run) => {
                        rows.push([
                        "","", JSON.stringify(run, null, 2), run.execution_details.repetitions, "", "", run.task.name, run.task.id, run.dataset.name, run.dataset.id, run.architecture.name, run.architecture.id, run.trainer.name, run.trainer.id]);
                    })
                    console.log(rows)
                    table.rows.add(rows).draw();
            });

        })
    });
});
</script>
{% endblock %}