{% extends 'dacapo/common.html' %}

{% block header %}
<h1>{% block title %}Monitor Runs{% endblock %}</h1>
{% endblock %}

{% block extra_content %}
{{ super() }}
<section class="content">
    <table id="new-runs-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>Run</th>
                <th>Task</th>
                <th>Data</th>
                <th>Architecture</th>
                <th>Trainer</th>
                <th>Score</th>
                <th>Higher Score Is Better</th>
                <th>Plot Loss</th>
            </tr>
        </thead>
        <tbody>
            {% for run in runs %}
            <tr>
                <td></td>
                <td><a href="{{run.neuroglancer_link}}">{{run.name}}</a></td>
                <td>{{run.task_config_name}}</td>
                <td>{{run.datasplit_config_name}}</td>
                <td>{{run.architecture_config_name}}</td>
                <td>{{run.trainer_config_name}}</td>
                <td>
                    <select name="temp" id="temp">
                        {% for evaluator_score_name in run.evaluator_score_names %}
                        <option value={{evaluator_score_name}}>{{evaluator_score_name}}</option>
                        {{evaluator_score_name}}
                        {% endfor %}
                    </select>
                </td>
                <td><input type="checkbox" id="{{run.name}}_higherIsBetter">
                </td>
                <td><input type="checkbox" id="{{run.name}}_plotLoss">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="myplot"></div>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='table.js') }}"></script>
<script>
    let checklists = document.getElementById("common-checklists").querySelectorAll(".checklist");
    let table = $("#new-runs-table").DataTable({
        columnDefs: [
            {
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            },
            {
                render: function (data, t, row) {
                    console.log("<a href="+row[9]+">")
                    var $link = $("<a href='"+row[9]+"'>" + row[1] + "</a>");
                    console.log($link.prop("outerHTML"))
                    return $link.prop("outerHTML");
                },
                targets: 1,
                className: 'dt-body-center'
            },
            {
                render: function (data, t, row) {
                    var $select = $("<select></select>", {
                        "id": row[1] + "_score"
                    });
                    $select.attr("onchange", 'plotIfRunSelected(this)')

                    $.each(data, function (k, v) {
                        var $option = $("<option></option>", {
                            "text": v,
                            "value": v
                        });
                        $select.append($option);
                    });
                    return $select.prop("outerHTML");
                },
                targets: 6
            },
            {
                render: function (data, t, row) {
                    var id = row[1] + "_higherIsBetter"
                    var $checkbox = $("<input type=checkbox id=" + id + " onchange=plotIfRunSelected(this)>");
                    return $checkbox.prop("outerHTML");
                },
                targets: 7,
                className: 'dt-body-center',
                visible: false
            },
            {
                render: function (data, t, row) {
                    var id = row[1] + "_plotLoss"
                    var $checkbox = $("<input type=checkbox id=" + id + " onchange=plotIfRunSelected(this)>");
                    return $checkbox.prop("outerHTML");
                },
                targets: 8,
                className: 'dt-body-center'
            }
        ],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });

    function plotIfRunSelected(selectedValue) {
        var str = selectedValue.id
        var arr = str.split("_");      // Split the string using _ as separator
        arr.pop();       // Get last element
        var updatedRun = arr.join("_");

        // Check if updated run is selected
        var selectedRows = table.rows({ selected: true });
        $.map(table.rows('.selected').data(), function (item) {
            currentSelectedRun = item[1];
            if (currentSelectedRun === updatedRun) {
                return plotSelectedFromTable();
            }
        });
    }

    function plotSelectedFromTable() {
        var selectedRows = table.rows({ selected: true });
        plotInfo = { runs: [], scoreNames: [], higherIsBetters: [], plotLosses: [] }
        $.map(table.rows('.selected').data(), function (item) {
            run = item[1]
            plotInfo.runs.push(run)
            plotInfo.scoreNames.push(document.getElementById(run + "_score").value)
            // plotInfo.higherIsBetters.push(document.getElementById(run + "_higherIsBetter").checked)
            plotInfo.plotLosses.push(document.getElementById(run + "_plotLoss").checked)
        });

        if (plotInfo.runs.length > 0) {
            fetch("{{ url_for('dacapo.plot') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accept": "application/json" }, body: JSON.stringify(plotInfo) })
                .then(function (response) { return response.json(); })
                .then(function (item) {
                    $("#myplot").html("");
                    return Bokeh.embed.embed_item(item);
                })
        }
        else {
            $("#myplot").html("")
        }
    }

    table.on('select deselect', function () {
        plotSelectedFromTable()
    });


    table.on('select', function (e, dt, type, indexes) {
        if (type === 'row') {
            var rows = table.rows(indexes).nodes().to$();
            $.each(rows, function () {
                if ($(this).hasClass('existing_job')) table.row($(this)).deselect();
            })
        }
    });

    let ids = { "tasks": new Set(), "datasplits": new Set(), "architectures": new Set(), "trainers": new Set(), "users": new Set() };
    checklists.forEach(checklist => {
        let checklist_name = checklist.childNodes[1].textContent.toLowerCase().replace(/\s+/g, '');
        checklist.querySelectorAll("input").forEach(element => {
            element.addEventListener('change', function () {
                table.clear();
                if (this.checked) {
                    ids[checklist_name].add(element.id)
                } else {
                    ids[checklist_name].delete(element.id)
                }

                let array_data = Object.keys(ids).reduce(function (o, x) { o[x] = Array.from(ids[x]); return o; }, {});
                fetch("{{ url_for('dacapo.get_runs') }}", { method: "POST", headers: { "Content-Type": 'application/json', "Accept": "application/json" }, body: JSON.stringify(array_data) }).then(response => response.json()).then(ids => {
                    let rows = [];
                    ids.forEach((run) => {
                        rows.push(["", run.name, run.task_config_name, run.datasplit_config_name, run.architecture_config_name, run.trainer_config_name, run.evaluator_score_names, "", "", run.neuroglancer_link]);
                    })
                    table.rows.add(rows).draw();
                });
            })
        });
    });
</script>
{% endblock %}